<% provide(:title, 'Home') %>

<% if signed_in? %>

<div class="section-container" name="home"></div>

<% else %>

<body style="background-image: url(/assets/background.jpg);"></body>

<div class="home-header"></div>

<div class="home-tag">

<h1>A Super Simple Fixed Fee Accountancy Service.</h1>

<div class="sticker"></div>

</div>

<div class="home">
<div class="home-form">

<div class="stamp"></div>

<div class="title">Sign up and get started today</div>

<%= form_tag('/signup', :method => 'get') %>

<div class="field">
<%= text_field_tag 'first_name', nil, :placeholder => 'First name' %>
<%= text_field_tag 'last_name', nil, :placeholder => 'Last name' %>
</div>

<div class="field">
<%= text_field_tag 'email', nil, :placeholder => 'Email', :class => "larger" %>
</div>

<%= submit_tag "Get Started" %><span>7 Day <b>FREE</b> Trial Period</span>

</div>

<div class="why">

<div class="title">What's included?</div>
<ul class="why-list">
    <li><span>Year round support & advice</span></li>
    <li><span>Help registering self-employed & setting up National Insurance payments</span></li>
    <li><span>Online Bookkeeping</span></li>
    <li><span>Graphs, charts & business reports</span></li>
    <li><span>Preparation of year end accounts</span></li>
    <li><span>Self Assessment tax return completed & filed online</span></li>
</ul>

</div>

</div>

<div class="how"></div>

<% end %>





