<% provide(:title, "Sign in") %>
<h1 class="modalHeader">Welcome Back</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>
    
    <div class="loginField">
      <%= f.text_field :email, :placeholder => 'Email' %>
    </div>
    <div class="loginField">
      <%= f.password_field :password, :placeholder => 'password' %>
    </div>  
    <div class="loginField">
      <%= f.submit "Sign in to your account", class: "" %>
    </div>  
    <% end %>
    
<h2 class="modalFooter">Don't have an account? <%= link_to "Sign up", signup_path %></h2>
