<div class="field">
<%= f.label :expense, "Expense Type", :class => 'inline' %>
<%= f.text_field :expense %><br />
</div>

<div class="field">
<%= f.label :private_use, "Private Use", :class => 'inline' %>
<%= f.text_field :private_use %><br />
</div>

<div class="field">
<%= f.label :private_use_fixed, "Private Use Fixed", :class => 'inline' %>
<%= f.check_box :private_use_fixed %><br />
</div>

<div class="field">
<%= f.label :asset_life, "Asset Life", :class => 'inline' %>
<%= f.text_field :asset_life %><br />
</div>

<div class="field">
<%= f.label :asset_life_fixed, "Asset Life Fixed", :class => 'inline' %>
<%= f.check_box :asset_life_fixed %><br />
</div>

<div class="field">
<%= f.label :fixed_asset, "Fixed Asset", :class => 'inline' %>
<%= f.check_box :fixed_asset %><br />
</div>