<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @target.user_id %>
</p>

<p>
  <b>Targets:</b>
  <%= @target.targets %>
</p>

<p>
  <b>Year:</b>
  <%= @target.year %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
