<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">
  
  <h2>Student details</h2>

<div class="field">

<%= f.label :name, "Full name:", :class => 'inline' %>

<%= f.fields_for :name do |n| %>

<%= n.text_field :first_name, :class => 'small_field', :placeholder => 'First', :value => @student.name[:first_name] %>
<%= n.text_field :last_name, :class => 'small_field', :placeholder => 'Last', :value => @student.name[:last_name] %>

<% end %>
      
</div>

  <div class="field">
    <%= f.label :current, "Active:", :class => 'inline' %>
    <%= f.select :current, [["Yes", true], ["No", false]], { :include_blank => true} %><br />
  </div>
  
  <div class="field">
    <%= f.label :passed, "Passed:", :class => 'inline' %>
    <%= f.select :passed, [["Yes", true], ["No", false]], { :include_blank => true} %><br />
  </div>

</div>

<div class="form-section">

<h2>Student contact information</h2>

<div class="field optional">

<%= f.label :email, "Email:", :class => 'inline' %>
<%= f.text_field :email %><span class="optional">**Optional</span><br />
      
</div>
  
<div class="student_address optional">
      
<%= f.fields_for :address do |a| %>
      
<div class="field">

<%= a.label :location, "Address:", :class => 'inline' %>
<%= a.text_field :location %><span class="optional">**Optional</span><br />
      
</div>
      
<div class="field">

<%= a.label :street_number, "Street number:", :class => 'inline hidden' %>
<%= a.text_field :street_number, :data => { :geo => 'street_number' }, :placeholder => 'No.', :class => 'small_field', :value => @student.address[:street_number] %>
<%= a.text_field :route, :data => { :geo => 'route' }, :placeholder => 'Street', :value => @student.address[:route] %><br />
      
</div>
      
<div class="field">

<%= a.label :locality, "City / Town:", :class => 'inline hidden' %>
<%= a.text_field :locality, :data => { :geo => 'locality' }, :placeholder => 'City', :value => @student.address[:locality] %>
<%= a.text_field :postal_code, :data => { :geo => 'postal_code' }, :placeholder => 'Postcode', :class => 'small_field', :value => @student.address[:postal_code]  %><br />
      
</div>
      
<% end %>

</div>



  <div class="field optional">
    <%= f.label :home_phone, :class => 'inline' %>
    <%= f.text_field :home_phone %><span class="optional">**Optional</span><br />
  </div>
  <div class="field optional">
    <%= f.label :mobile, :class => 'inline' %>
    <%= f.text_field :mobile %><span class="optional">**Optional</span><br />
  </div>
  
</div>

</div>

<div class="form-section">
   
<%= f.submit "Save account", class: "" %>

<div class="close">Close without saving</div>
      
</div>

  
<% end %>
