<% if params[:multiple_create] == "true" %>

<%= form_tag 'create_multiple', :validates => true do |f| %>

<div class="form-section">
 
<h2>Students</h2>

<div class="students">

    <% 4.times do %>
    

      <div class="student_row">
      <div class="student_field"><%= text_field_tag 'student[][first_name]', nil, class: 'small_field required', placeholder: 'First name', title: 'First name' %></div>
      <div class="student_field"><%= text_field_tag 'student[][last_name]', nil, class: 'small_field required', placeholder: 'Last name', title: 'Last name' %></div>
      <div class="student_field"><%= text_field_tag 'student[][location]', nil, class: 'large geo', placeholder: 'Start typing student address here' %>
            <div class="address hidden">
      <%= hidden_field_tag 'student[][street_number]', nil, :data => { :geo => 'street_number' } %>
      <%= hidden_field_tag 'student[][route]', nil, :data => { :geo => 'route' } %>
      <%= hidden_field_tag 'student[][locality]', nil, :data => { :geo => 'locality' } %>
      <%= hidden_field_tag 'student[][postal_code]', nil, :data => { :geo => 'postal_code' } %>
      </div>
      </div>
      <div class="student_field"><%= text_field_tag 'student[][mobile]', nil, class: 'small_field', placeholder: 'Mobile number', title: 'Mobile number (optional)' %></div>
      <div class="student_field"><%= select_tag 'student[][referal]', options_for_select(how_find_options), :class => 'medium', :title => "How did they find you?" %></div>
      <div class="student_field"><i class="icon-trash large remove" title="Remove"></i></div>
    </div>
    <% end %>

    <div class="actions">
      <div><a id='add_student_form' href="#">Add more students</a></div>
    </div>

    <div>
      <div><%= submit_tag 'Save' %></div>
    </div>

</div>

</div>

<% end %>

      <div class="new_student_row hidden student_row">
      <div class="student_field"><%= text_field_tag 'student[][first_name]', nil, class: 'small_field required', placeholder: 'First name', title: 'First name' %></div>
      <div class="student_field"><%= text_field_tag 'student[][last_name]', nil, class: 'small_field required', placeholder: 'Last name', title: 'Last name' %></div>
      <div class="student_field"><%= text_field_tag 'student[][location]', nil, class: 'large geo', placeholder: 'Start typing student address here', title: "Student's address (optional)" %></div>
      <div class="student_field"><%= text_field_tag 'student[][mobile]', nil, class: 'small_field', placeholder: 'Mobile number', title: 'Mobile number (optional)' %></div>
      <div class="student_field"><%= select_tag 'student[][referal]', options_for_select(how_find_options), :class => 'medium', :title => "How did they find you?" %></div>
      <div class="student_field"><i class="icon-trash large remove" title="Remove"></i></div>
      <div class="address">
      <%= hidden_field_tag 'student[][street_number]', nil, :data => { :geo => 'street_number' } %>
      <%= hidden_field_tag 'student[][route]', nil, :data => { :geo => 'route' } %>
      <%= hidden_field_tag 'student[][locality]', nil, :data => { :geo => 'locality' } %>
      <%= hidden_field_tag 'student[][postal_code]', nil, :data => { :geo => 'postal_code' } %>
      </div>
    </div>


<% else %>

<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">
  
  <h2>Student details</h2>

<div class="field">

<%= f.label :name, "Full name:", :class => 'inline' %>

<%= f.fields_for :name do |n| %>

<%= n.text_field :first_name, :class => 'small_field', :placeholder => 'First', :value => @student.name[:first_name] %>
<%= n.text_field :last_name, :class => 'small_field', :placeholder => 'Last', :value => @student.name[:last_name] %>

<% end %>
      
</div>

  <div class="field">
    <%= f.label :passed_theory, "Passed Theory:", :class => 'inline' %>
    <%= f.select :passed_theory, [["Yes", true], ["No", false]], { :include_blank => true} %><br />
  </div>
  
  <div class="student_passed_theory">
  
  <div class="field">
    <%= f.label :date_passed_theory, "Date passed theory test:", :class => 'inline' %>
    <%= f.text_field :date_passed_theory, :class => 'small_field', :placeholder => 'DDMMYYYY' %><br />
  </div>
  
  </div>
  
  <div class="field">
    <%= f.label :passed_practical, "Passed Practical:", :class => 'inline' %>
    <%= f.select :passed_practical, [["Yes", true], ["No", false]], { :include_blank => true} %><br />
  </div>
  
  <div class="student_passed_practical">
  
  <div class="field">
    <%= f.label :date_passed_practical, "Date passed practical test:", :class => 'inline' %>
    <%= f.text_field :date_passed_practical, :class => 'small_field', :placeholder => 'DDMMYYYY' %><br />
  </div>
  
  </div>

</div>

<div class="form-section">

<h2>Student contact information</h2>

<div class="field optional">

<%= f.label :email, "Email:", :class => 'inline' %>
<%= f.text_field :email %><span class="optional">**Optional</span><br />
      
</div>
  
<div class="address optional">
      
<%= f.fields_for :address do |a| %>
      
<div class="field">

<%= a.label :location, "Address:", :class => 'inline' %>
<%= a.text_field :location, :class => 'large geo', :placeholder => 'Start typing address here' %><span class="optional">**Optional</span><br />
      
</div>
      
<div class="field">

<%= a.label :street_number, "Street number:", :class => 'inline hidden' %>
<%= a.text_field :street_number, :data => { :geo => 'street_number' }, :placeholder => 'No.', :class => 'small_field', :value => @student.address[:street_number] %>
<%= a.text_field :route, :data => { :geo => 'route' }, :placeholder => 'Street', :value => @student.address[:route] %><br />
      
</div>
      
<div class="field">

<%= a.label :locality, "City / Town:", :class => 'inline hidden' %>
<%= a.text_field :locality, :data => { :geo => 'locality' }, :placeholder => 'City', :value => @student.address[:locality] %>
<%= a.text_field :postal_code, :data => { :geo => 'postal_code' }, :placeholder => 'Postcode', :class => 'small_field', :value => @student.address[:postal_code]  %><br />
      
</div>
      
<% end %>

</div>



  <div class="field optional">
    <%= f.label :home_phone, :class => 'inline' %>
    <%= f.text_field :home_phone %><span class="optional">**Optional</span><br />
  </div>
  <div class="field optional">
    <%= f.label :mobile, :class => 'inline' %>
    <%= f.text_field :mobile %><span class="optional">**Optional</span><br />
  </div>
  
</div>

<div class="form-section">
   
<%= f.submit "Save", class: "" %>

<div class="close" style="display: none;">Close without saving</div>
      
</div>

  
<% end %>

<% end %>

