<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">

  <div class="field">
    <%= f.label :name, :class => 'inline' %>
    <%= f.text_field :name %><br />
  </div>
  <div class="field">
    <%= f.label :email, :class => 'inline' %>
    <%= f.text_field :email %><br />
  </div>
  
  <%= f.fields_for :address do |a| %>

  <div class="field">
    <%= a.label :address1, "Student Address", :class => 'inline' %>
    <%= a.text_field :address1, :value => f.object.address["address1"] %><br />
  </div>
  
  <div class="field">
    <%= a.label :address2, ".", :class => 'inline hidden' %>
    <%= a.text_field :address2, :value => f.object.address["address2"] %><br />
  </div>
  
  <div class="field">
    <%= a.label :address3, ".", :class => 'inline hidden' %>
    <%= a.text_field :address3, :value => f.object.address["address3"] %><br />
  </div>
  
  <div class="field">
    <%= a.label :city, "City", :class => 'inline' %>
    <%= a.text_field :city, :value => f.object.address["city"] %><br />
  </div>
  
  <div class="field">
    <%= a.label :county, "County", :class => 'inline' %>
    <%= a.text_field :county, :value => f.object.address["county"] %><br />
  </div>
  
  <div class="field">
    <%= a.label :post_code, "Post Code", :class => 'inline' %>
    <%= a.text_field :post_code, :value => f.object.address["post_code"] %><br />
  </div>
  
  <div class="field">
    <%= a.label :country, "Country", :class => 'inline' %>
    <%= a.text_field :country, :value => f.object.address["country"] %><br />
  </div>
  
  <% end %>

  <div class="field">
    <%= f.label :home_phone, :class => 'inline' %>
    <%= f.text_field :home_phone %><br />
  </div>
  <div class="field">
    <%= f.label :mobile, :class => 'inline' %>
    <%= f.text_field :mobile %><br />
  </div>
  <div class="field notes">
    <%= f.label :current, :class => 'inline' %>
    <%= f.check_box :current, :checked => 'checked' %>
  <div class="note">Please uncheck if this student is no longer an active student.</div><br />
  </div>
  <div class="field">
    <%= f.label :passed, :class => 'inline' %>
    <%= f.check_box :passed %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  </div>
  
<% end %>
