<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Home phone:</b>
  <%= @student.home_phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @student.mobile %>
</p>

<p>
  <b>User:</b>
  <%= @student.user_id %>
</p>

<p>
  <b>Current:</b>
  <%= @student.current %>
</p>

<p>
  <b>Passed:</b>
  <%= @student.passed %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
