<%= f.hidden_field :stripe_card_token %>
      
<h2>Subscription and payment details</h2>

<% if !@user.subscriptions %>
      
      <div class="field">

      <%= f.label :plan_id, "Subscribe to a plan:", :class => 'inline' %>
      <%= f.collection_select :plan_id, @plans, :id, :name %><br />
      
      </div>
      
      <div class="field">
      <%= label_tag :card_number, "Credit card number:", :class => 'inline' %>
      <%= text_field_tag :card_number, nil, name: nil %><br />
    </div>

    <div class="field">
      <%= label_tag :card_code, "Security code on card (CVV):", :class => 'inline' %>
      <%= text_field_tag :card_code, nil, name: nil %><br />
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card expiration:", :class => 'inline' %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %><br />
    </div>
    
      <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  
  <% else %>
  
  You are currently subscribed to a <%= @user.subscriptions[0].plan.name %> subscription.
  
<% end %>
  
