<% provide(:title, "Edit user") %>

<div class="section-container">

<div class="section-header">

<h1><%= current_user.name %></h1>

</div>

<div class="form-section">
    
<div class="signup_progress_container">
    
<div class="signup_step active" id="edit_step_1">

<%= link_to "Account Details", edit_user_path(current_user, :step => '1') %>

</div>
    
<div class="signup_step" id="edit_step_2">

<%= link_to "Business Details", edit_user_path(current_user, :step => '2') %>

</div>
    
<div class="signup_step" id="edit_step_3">

<%= link_to "Accounting Information", edit_user_path(current_user, :step => '3') %>

</div>
    
<div class="signup_step" id="edit_step_4">

<%= link_to "Subscription & Payment", edit_user_path(current_user, :step => '4') %>

</div>
    
</div>

<% if params[:step] && !params[:step].blank? %>

<div class="step_hidden" name=<%= 'edit_step_' + params[:step] %>></div>

<%= render 'edit_step_' + params[:step] %>

<% else %>

<%= render 'edit_step_1' %>

<% end %>

</div>

</div>
