<div class="fields">
<p>

  <div class="field">
    <%= f.label :name, "Employer Name", :class => 'inline' %>
    <%= f.text_field :name %><br />
  </div>

<div class="field">
<%= f.label :PAYE, "Employer PAYE Reference", :class => 'inline' %>
<%= f.text_field :PAYE %><br />
</div>

<%= f.fields_for :address do |a| %>

<div class="field">
<%= a.label :address1, "Employer Address", :class => 'inline' %>
<%= a.text_field :address1, :value => f.object.address["address1"] %><br />
</div>

<div class="field">
<%= a.label :address2, ".", :class => 'inline hidden' %>
<%= a.text_field :address2, :value => f.object.address["address2"] %><br />
</div>

<div class="field">
<%= a.label :address3, ".", :class => 'inline hidden' %>
<%= a.text_field :address3, :value => f.object.address["address3"] %><br />
</div>

<div class="field">
<%= a.label :city, "City", :class => 'inline' %>
<%= a.text_field :city, :value => f.object.address["city"] %><br />
</div>

<div class="field">
<%= a.label :county, "County", :class => 'inline' %>
<%= a.text_field :county, :value => f.object.address["county"] %><br />
</div>

<div class="field">
<%= a.label :post_code, "Postcode", :class => 'inline' %>
<%= a.text_field :post_code, :value => f.object.address["post_code"] %><br />
</div>

<div class="field">
<%= a.label :country, "Country", :class => 'inline' %>
<%= a.text_field :country, :value => f.object.address["country"] %><br />
</div>

<% end %>

<div class="field">
<%= f.label :start, "Start Date of Employment", :class => 'inline' %>
<%= f.text_field :start %><br />
</div>

<div class="field">
<%= f.label :end_date, "End Date of Employment", :class => 'inline' %>
<%= f.text_field :end_date %><br />
</div>

<div class="field">
<%= f.label :income, "Income", :class => 'inline' %>
<%= f.text_field :income %><br />
</div>

<div class="field">
<%= f.label :tax, "Tax", :class => 'inline' %>
<%= f.text_field :tax %><br />
</div>

<div class="field">
<%= f.label :director, "Director", :class => 'inline' %>
<%= f.check_box :director %><br />
</div>

</p>
</div>