<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">
  
  <h2>Income details</h2>

  <div class="field">
    <%= f.label :student_id, "Student name:", :class => 'inline' %>
    <%= f.collection_select(:student_id, current_user.students, :id, :full_name) %><br />
  </div>
  <div class="field">
    <%= f.label :date, "Date:", :class => 'inline' %>
    <%= f.text_field :date, :class => 'small_field', :placeholder => 'DDMMYYYY' %><br />
  </div>
  <div class="field">
    <%= f.label :value, "Income amount (£)", :class => 'inline' %>
    <%= f.text_field :value, :class => 'currency', :placeholder => '00.00' %><br />
  </div>
  <div class="field optional">
    <%= f.label :description, "Description", :class => 'inline' %>
    <%= f.text_field :description, :class => 'extra_large' %><span class="optional">**Optional</span><br />
  </div>
  <div class="field">
    <%= f.label :test, "Practical Test", :class => 'inline' %>
    <%= f.select :test, [["Yes", true], ["No", false]], { :include_blank => true} %><br />
  </div>
  </div>
  
  <div class="form-section">
    <%= f.submit "Save" %>
  </div>
  
<% end %>
