<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">

  <div class="field">
    <%= f.label :student_id, "Student", :class => 'inline' %>
    <%= f.collection_select(:student_id, current_user.students, :id, :name) %><br />
  </div>
  <div class="field">
    <%= f.label :date, "Dated", :class => 'inline' %>
    <%= f.date_select :date %><br />
  </div>
  <div class="field">
    <%= f.label :value, "Expense Amount (£)", :class => 'inline' %>
    <%= f.text_field :value, :class => 'small' %><br />
  </div>
  <div class="field">
    <%= f.label :description, "Description", :class => 'inline' %>
    <%= f.text_field :description, :class => 'long' %><br />
  </div>
  <div class="field">
    <%= f.label :test, "Practical Test", :class => 'inline' %>
    <%= f.check_box :test %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  </div>
  
<% end %>
