<% if params[:sale_of_asset] == "true" %>

<div class="form-section">

<h2>Sale of asset</h2>

<% if @assets.empty? %>

You currently have <b>no fixed assets</b>. <%= link_to "Click here", new_expense_path %> to add a fixed asset.

</div>

<% else %>

<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Date:", :class => 'inline' %>
    <%= f.text_field :date, :placeholder => "DDMMYYYY", :class => "small_field date" %><br />
  </div>

    <div class="field">
    <%= f.label :expense_id, "Fixed asset:", :class => 'inline' %>
    <%= f.collection_select(:expense_id, @assets, :id, :short_description, {}, {:class => "large"}) %><br />
  </div>
  
  <div class="field">
    <%= f.label :description, "Description of sale:", :class => 'inline' %>
    <%= f.text_field :description, :placeholder => "Example: Part exchange for new car- reg. XX52 MEF", :class => "extra_large" %><br />
  </div>

  <div class="field">
    <%= f.label :value, "Asset sale value:", :class => 'inline' %>
    <%= f.text_field :value, :placeholder => "00.00", :class => "currency" %><br />
  </div>
</div>
  
    <div class="form-section">
    <%= f.submit "Save" %>
  </div>
  
  <% end %>
  
<% end %>

<% else %>

<% if params[:multiple_create] == "true" %>

<%= form_tag 'create_multiple' do |f| %>

 <div class="form-section">
 
 <h2>Income</h2>

 <div class="incomes">
 
    <% 1.times do |x| %>

    <div class="income_row">
      <%= hidden_field_tag 'income[][user_id]', current_user.id %>
      <div class="income_field"><%= text_field_tag 'income[][date]', nil, class: 'small_field date required', :id => 'date' + x.to_s, placeholder: 'DD/MM/YYYY', title: 'Date' %></div>
      <div class="income_field"><%= select_tag 'income[][student_id]', options_from_collection_for_select(current_user.students, :id, :full_name), title: 'Student', :class => 'required' %></div>
      <div class="income_field"><%= text_field_tag 'income[][description]', nil, class: 'large', placeholder: 'Add a short description (Optional)' %></div>
      <div class="income_field"><%= text_field_tag 'income[][value]', nil, class: 'currency value required', placeholder: '00.00', title:'Amount (£)' %></div>
      <div class="income_field"><% select_tag 'income[][test]', options_for_select([["Yes", true], ["No", false]]), { :include_blank => true, :class => 'short', :title => 'Practical Test'} %></div>
      <div class="income_field"><i class="icon-trash large remove" title="Remove"></i></div>
      </div>
      
      <% end %>
      
    <div class="income_row total">
    
    Total:
    
    <div class="total-right">£0.00</div>

    </div>

    <div class="actions">
      <div><a id='add_income_form' href="#">Add more income</a></div>
    </div>
    <div>
      <div><%= submit_tag 'Save' %></div>
    </div>
  
  </div>
  
<% end %>

    <div class="new_income_row hidden income_row">
      <%= hidden_field_tag 'income[][user_id]', current_user.id %>
      <div class="income_field"><%= text_field_tag 'income[][date]', nil, class: 'small_field datepicker required', placeholder: 'DD/MM/YYYY', title: 'Date', :id => "date4" %></div>
      <div class="income_field"><%= select_tag 'income[][student_id]', options_from_collection_for_select(current_user.students, :id, :full_name), title: 'Student', :class => 'required' %></div>
      <div class="income_field"><%= text_field_tag 'income[][description]', nil, class: 'large', placeholder: 'Add a short description (Optional)' %></div>
      <div class="income_field"><%= text_field_tag 'income[][value]', nil, class: 'currency value required', placeholder: '00.00', title:'Amount (£)' %></div>
      <div class="income_field"><% select_tag 'income[][test]', options_for_select([["Yes", true], ["No", false]]), { :include_blank => true, :class => 'short', :title => 'Practical Test'} %></div>
      <div class="income_field"><i class="icon-trash large remove" title="Remove"></i></div>
      </div>
      
</div>

<% else %>

<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">
  
  <h2>Income details</h2>

  <div class="field">
    <%= f.label :student_id, "Student name:", :class => 'inline' %>
    <%= f.collection_select(:student_id, current_user.students, :id, :full_name) %><br />
  </div>
  <div class="field">
    <%= f.label :date, "Date:", :class => 'inline' %>
    <%= f.text_field :date, :class => 'small_field', :placeholder => 'DDMMYYYY' %><br />
  </div>
  <div class="field">
    <%= f.label :value, "Income amount (£)", :class => 'inline' %>
    <%= f.text_field :value, :class => 'currency', :placeholder => '00.00' %><br />
  </div>
  <div class="field optional">
    <%= f.label :description, "Description", :class => 'inline' %>
    <%= f.text_field :description, :class => 'extra_large' %><span class="optional">**Optional</span><br />
  </div>
  <div class="field">
    <%= f.label :test, "Practical test:", :class => 'inline' %>
    <%= f.select :test, [["Yes", true], ["No", false]], { :include_blank => true} %><br />
  </div>
  </div>
  
  <div class="form-section">
    <%= f.submit "Save" %>
  </div>
  
<% end %>

<% end %>

<% end %>
