<% if params[:multiple_create] == "true" %>

<%= form_tag 'create_multiple' do |f| %>

<div class="form-section">
 
<h2>Expenses</h2>

<div class="expenses">

    <% 1.times do |x| %>
    
    <div class="expense_row">
      <%= hidden_field_tag 'expense[][user_id]', current_user.id %>
      <div class="expense_field"><%= text_field_tag 'expense[][dated]', nil, class: 'small_field date required', :id => 'date' + x.to_s, placeholder: 'DD/MM/YYYY', title: 'Date' %></div>
      <div class="expense_field"><%= select_tag 'expense[][expense_type_id]', options_from_collection_for_select(current_user.expense_types, :id, :expense), title: 'Expense type', :class => 'required' %></div>
      <div class="expense_field"><%= text_field_tag 'expense[][description]', nil, :class => 'large', :placeholder => 'Add a short description', :title => 'Example: 1 year advert in yellow pages' %></div>
      <div class="expense_field"><%= text_field_tag 'expense[][value]', nil, :class => 'currency value required', :placeholder => '00.00', :title => 'Amount' %></div>
      <div class="expense_field"><i class="icon-trash large remove" title="Remove"></i></div>
    </div>
    <% end %>
    
    <div class="expense_row total">
    
    Total:
    
    <div class="total-right">£0.00</div>

    </div>

    <div class="actions">
      <div><a id='add_expense_form' href="#">Add more expenses</a></div>
    </div>
    <div>
      <div><%= submit_tag 'Save' %></div>
    </div>
    
<% end %>

    </div>
    
    </div>

    <div class="new_expense_row expense_row hidden">
      <%= hidden_field_tag 'expense[][user_id]', current_user.id %>
      <div class="expense_field"><%= text_field_tag 'expense[][dated]', nil, class: 'small_field datepicker required', placeholder: 'DD/MM/YYYY', title: 'Date', :id => "date4" %></div>
      <div class="expense_field"><%= select_tag 'expense[][expense_type_id]', options_from_collection_for_select(current_user.expense_types, :id, :expense), title: 'Expense type', :class => 'required' %></div>
      <div class="expense_field"><%= text_field_tag 'expense[][description]', nil, :class => 'large', :placeholder => 'Add a short description', :title => 'Example: 1 year advert in yellow pages' %></div>
      <div class="expense_field"><%= text_field_tag 'expense[][value]', nil, :class => 'currency value required', :placeholder => '00.00', :title => 'Amount' %></div>
      <div class="expense_field"><i class="icon-trash large remove" title="Remove"></i></div>
    </div>

<% else %>

<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">
  
  <h2>Expense details</h2>

  <div class="field">
    <%= f.label :expense_type_id, :class => "inline" %>
    <%= f.collection_select(:expense_type_id, current_user.expense_types, :id, :expense, {}, {:class => 'selectable'}) %><br />
  </div>
  <div class="field">
    <%= f.label :dated, "Date:", :class => "inline" %>
    <%= f.text_field :dated, :class => 'small_field', :placeholder => 'DDMMYYYY' %><br />
  </div>
  <div class="field">
    <%= f.label :value, "Amount:", :class => "inline" %>
    <%= f.text_field :value, :class => "currency", :placeholder => '00.00' %><br />
  </div>
  <div class="field optional">
    <%= f.label :description, "Description:", :class => "inline" %>
    <%= f.text_field :description, :class => 'extra_large', :placeholder => 'Add a short description' %><span class="optional">**Optional</span><br />
  </div>
  
  </div>
  
  <div id="update_fields"></div>
  
  <div class="form-section">
    <%= f.submit "Save" %>
  </div>
<% end %>

<% end %>
