<div class="form-section">

<%= fields_for @expense do |f| %>

<div class="field">

<%= f.label :fixed_asset, "Fixed Asset", :class => "inline" %>
<%= f.check_box :fixed_asset, :checked => @expense_type.fixed_asset?, :disabled => 'disabled' %>

</div>

<% if @expense_type.fixed_asset? %>

<div class="field">

<%= f.label :asset_life, :class => "inline" %>
<%= f.text_field :asset_life, :class => "small", :disabled => @expense_type.asset_life_fixed?, :value => @expense_type.asset_life %><br />

</div>

<% end %>

<div class="field notes">

<%= f.label :private_use, "Private Use (%)", :class => 'inline' %>
<%= f.text_field :private_use, :disabled => @expense_type.private_use_fixed?, :value => @expense_type.private_use, :class => 'small' %>
<% end %>

<div class="note">

Percentage of Expense for Private Use

</div>

</div>

</div>