<%= fields_for @expense do |f| %>

<div class="form-section fixed_asset_<%= @expense_type.fixed_asset %>">

<h2>Fixed asset</h2>

<div class="field">

<%= f.label :asset_life, :class => "inline" %>
<%= f.text_field :asset_life, :class => "small", :disabled => @expense_type.asset_life_fixed?, :value => @expense_type.asset_life, :placeholder => '0' %>

<% if @expense_type.asset_life_fixed? %>

<span>**Fixed</span>

<% end %>

</div>

</div>

<div class="form-section">

<h2>Personal use</h2>

<div class="field">

<%= f.label :private_use, "Private Use (%)", :class => 'inline' %>
<%= f.text_field :private_use, :disabled => @expense_type.private_use_fixed?, :value => @expense_type.private_use, :class => 'currency', :placeholder => '0' %>

<% if @expense_type.private_use_fixed? %>

<span>**Fixed</span>

<% end %>

</div>

</div>

<% end %>
