<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-section">

  <div class="field">
    <%= f.label :name, "Plan name:", :class => 'inline' %>
    <%= f.text_field :name %><br />
  </div>
  <div class="field">
    <%= f.label :price, "Price", :class => 'inline' %>
    <%= f.text_field :price %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  </div>
  
<% end %>