<div class="blue-bar-top">

<div class="top-bar-container">

<ul>
    <li style="float: left;"><%= link_to "", root_path, :class => 'logo' %></li>
    
    <li class="telephone">0845 123 456</li>
    
    <% if signed_in? %>
    
        <% if current_user.admin? %>
        <li><%= link_to "Steps", steps_path %></li>
        <li><%= link_to "Expenses", expense_categories_path %></li>
        <li><%= link_to "Businesses", business_types_path, :remote => true, :id => '', :class => 'modalOpen' %></li>
        <li><%= link_to "Users", users_path, :remote => true, :id => '', :class => 'modalOpen' %></li>
        <li><%= link_to "Profile", current_user, :remote => true, :id => '', :class => 'modalOpen' %></li>        
        <% end %>
        
            <li>
    <%= link_to signout_path, :class => 'menu-item', :id => "settings-menu"  do %>
    <input type="submit" value="<%= current_user.full_name %>"></input>

    <% end %>
    </li>
    
    <% else %>

    <li style="display: inline-block"><%= link_to "forgotten password?", request_reset_password_path %></li>
    
    <li style="display: inline-block">
    <%= link_to signin_path, :remote => true, :id => 'signin', :class => 'modalOpen' do %>
    <input type="submit" value="Client Log in"></input>

    <% end %>
    </li>

    <% end %>

</ul>

</div>

</div>

<% if signed_in? %>

<div class="nav-bar-top">


<div class="top-bar-container left">

<div id='cssmenu'>
<ul>
   <li id="homeMenu"><%= link_to "Home", root_url %></li>
   <li id="addMenu" class='has-sub'><a><span>Add</span></a>
      <ul>
         <li class='has-sub'><%= link_to "Add a student", new_student_path(:multiple_create => "true") %>
         </li>
         <li class='has-sub'><%= link_to "Add income", new_income_path(:multiple_create => "true") %>
         </li>
         <li class='has-sub'><%= link_to "Add expenses", new_expense_path(:multiple_create => "true") %>
         </li>
      </ul>
   </li>
   <li id="studentsMenu"><a href='#'><span>Students</span></a></li>
   <li id="incomeMenu"><a href='#'><span>Income</span></a></li>
   <li id="expensesMenu"><a href='#'><span>Expenses</span></a></li>
   <li id="accountsMenu"><a href='#'><span>Accounts</span></a></li>
   <li class='last has-sub'><a><span>Tax Return</span></a>
      <ul>
         <li class='has-sub'><%= link_to "PAYE & Other Income", new_tax_return_path %>
         </li>
      </ul>
   </li>
   <li id="taxreturnMenu" class='has-sub last'><a><span>Targets</span></a>
      <ul>
         <li class='has-sub'><%= link_to "Targets", new_target_path %>
         </li>
      </ul>   
   </li>
</ul>
</div>
    
</div>
    
</div>

<% end %>

<% if signed_in? %>

<div class="drop-menu settings-menu">

<%= link_to "Edit your account details", edit_user_path(current_user) %><br />

<%= link_to "Change payment details", edit_subscription_path(current_user.subscriptions.first), :id => 'edit_card' %><br />

<%= link_to "View payment history", payment_history_path %><br />

<%= link_to "Sign out", signout_path, method: "delete" %>

</div>

<div class="drop-menu income-menu">

<%= link_to "Add Income", new_income_path(:multiple_create => "true") %><br />

<%= link_to "Sale of Asset", new_income_path(:sale_of_asset => "true") %>

</div>

<div class="drop-menu tax-menu">

<%= link_to "PAYE & other income", new_tax_return_path(:year => current_user.default_year) %><br />

</div>

<div class="drop-menu expense-menu">

<%= link_to "Add expense", new_expense_path(:multiple_create => "true") %><br />

</div>

<div class="drop-menu student-menu">

<%= link_to "Add new student", new_student_path(:multiple_create => "true") %><br />

</div>

<% end %>


