<div class="blue-bar-top">

<div class="top-bar-container">

<ul>
    <li><%= link_to "Home", root_path %></li>
    
    <% if signed_in? %>
    
        <% if current_user.admin? %>
        <li><%= link_to "Steps", steps_path %></li>
        <li><%= link_to "Expenses", expense_categories_path %></li>
        <li><%= link_to "Businesses", business_types_path, :remote => true, :id => '', :class => 'modalOpen' %></li>
        <li><%= link_to "Users", users_path, :remote => true, :id => '', :class => 'modalOpen' %></li>
        <li><%= link_to "Profile", current_user, :remote => true, :id => '', :class => 'modalOpen' %></li>        
        <% end %>
    
    
    <li><%= link_to "Tax Return", new_tax_return_path(:year => '2013') %></li>
    <li><%= link_to "Income", new_income_path(:multiple_create => "true"), :class => 'menu-item', :id => "income-menu" %></li>
    <li><%= link_to "Add Student", new_student_path, :remote =>false, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to "Add Expense", new_expense_path, :remote => false, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to full_name(current_user), "", :class => 'menu-item', :id => "settings-menu" %></li>
    <li><% link_to "Sign out", signout_path, method: "delete" %></li>  
    
    <% else %>

    <li><% link_to "Sign up", signup_path %></li>
    <li><%= link_to "Sign in", signin_path, :remote => true, :id => 'signin', :class => 'modalOpen' %></li>

    <% end %>

</ul>

</div>

</div>

<% if signed_in? %>

<div class="drop-menu settings-menu">

<%= link_to "Edit your account details", edit_user_path(current_user) %><br />

<%= link_to "Change payment details", edit_subscription_path(current_user.subscriptions.first), :id => 'edit_card' %><br />

<%= link_to "View payment history", payment_history_path %><br />

<%= link_to "Sign out", signout_path, method: "delete" %>

</div>

<div class="drop-menu income-menu">

<%= link_to "Add Income", new_income_path(:multiple_create => "true") %>

</div>

<% end %>


