<div class="blue-bar-top">

<div class="top-bar-container">

<ul>
    <li><%= link_to "Home", root_path %></li>
    
    <% if signed_in? %>
    
    <li><%= link_to "Steps", steps_path %></li>
    <li><%= link_to "Tax Return", new_tax_return_path(:year => '2013') %></li>
    <li><%= link_to "Add Income", new_income_path %></li>
    <li><%= link_to "Add Student", new_student_path, :remote =>false, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to "Add Expense", new_expense_path, :remote => false, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to "Expenses", expense_categories_path %></li>
    <li><%= link_to "Businesses", business_types_path, :remote => true, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to "Users", users_path, :remote => true, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to "Profile", current_user, :remote => true, :id => '', :class => 'modalOpen' %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>  
    
    <% else %>

    <li><%= link_to "Sign up", signup_path %></li>
    <li><%= link_to "Sign in", signin_path, :remote => true, :id => 'signin', :class => 'modalOpen' %></li>

    <% end %>

</ul>

</div>

</div>


